h1.text-center {
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 5rem;
}
.set_per_page {
    font-size: 1.5rem;
    margin-bottom: 4.5%;
    margin-left: 5%;
}

input#per_page {
    border-color: #8484e4;
    margin-top: 5%;
    width: 18%;
}

input, button, select, optgroup, textarea { 
    padding-left: 1rem;
}

.thead-primary{
	background-color: #007bff;
	color: white;
}
.table {
    border-radius: 1px;
    width: 30%;
    margin: 0px auto;
    float: none;
}


@media (min-width: 1250px) and (orientation : landscape) { 
    input#per_page {
        width: 28% !important;
    }
}
@media (min-width: 640px) and (orientation : landscape) {  
	.set_per_page {
	    font-size: 1.2rem !important;	  
	    margin-left: 12%;	    
	}
    input#per_page {
    width: 33%;
    }
}
@media (min-width: 360px) and (orientation : portrait) {  
	.set_per_page {
	    font-size: 1.1rem;	  
	    margin-left: 17%;	    
	}
    input#per_page {
    width: 33%;
    }
}